.comment {
  margin-top: 20px;
}

.form-container {
  width: 100%;
}

mat-divider {
  margin: 15px 0;
}

.mat-form-field {
  width: 60%;
}

.button-link {
  height: 34px;
  margin-left: 15px;
}

#author-link {
  color: black;
}
