.post-list-container {
  margin-top: 20px;
}

.post-text {
  margin: 15px 0;
  text-align: justify;
}

mat-spinner {
  margin: 0 auto;
}

mat-paginator {
  margin-top: 15px;
}

mat-action-row .row .col > a,button {
  margin-right: 10px;
}

mat-action-row .row {
  width: 100%;
}

.likeColor {
  color: red;
}
