<div class="container post-list-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion *ngIf="!isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ post.postTitle }}
        </mat-panel-title>
        <mat-panel-description>
          {{ post.postAuthor }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of post.postTags">
            {{ tag.name }}
          </mat-chip>
        </mat-chip-list>
        <p class="post-text">{{ post.postText }}</p>
        <p>Дата создания: {{ post.postDate | date }}</p>
      </div>
      <mat-action-row>
        <a mat-raised-button color="accent" [routerLink]="['/edit', post.postId]">Edit</a>
        <button mat-raised-button color="warn" (click)="onDeletePost(post.postId)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator [length]="totalPosts"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOption"
                 (page)="onChangePage($event)">
  </mat-paginator>
</div>

