<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onCreatePost()" [formGroup]="form" *ngIf="!isLoading">

    <mat-form-field>
      <input type="text"
             matInput
             name="postTitle"
             placeholder="Название поста"
             formControlName="postTitle"
             required>

      <mat-error *ngFor="let validation of postValidationMessages.postTitle">
        <mat-error *ngIf="postTitle.hasError(validation.type) && (postTitle.dirty || postTitle.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Новый тег"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-error *ngIf="tagsList.length === 0">Нужно пометить твою историю</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                name="postText"
                placeholder="Напишите свою историю"
                formControlName="postText"
                rows="10"
                required></textarea>
      <mat-error *ngFor="let validation of postValidationMessages.postText">
        <mat-error *ngIf="postText.hasError(validation.type) && (postText.dirty || postText.touched)">
          {{ validation.message }}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary"

            [disabled]="form.invalid || (tagsList.length === 0)">
      Отрпавить историю
    </button>

    <button routerLink="/"
            mat-raised-button
            color="warn">
      На главную
    </button>
  </form>

</div>
