<div class="container">
  <form (ngSubmit)="onCreatePost()" [formGroup]="form">
    <mat-form-field>
      <input type="text"
             matInput
             name="postTitle"
             placeholder="Название поста"
             formControlName="postTitle">
        <mat-error *ngIf="postTitle.invalid && (postTitle.dirty || postTitle.touched) && postTitle.invalid">{{ getPostTitleError() }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text"
             matInput
             name="postAuthor"
             placeholder="Ваше имя"
             formControlName="postAuthor">
      <mat-error *ngIf="postAuthor.invalid && (postAuthor.dirty || postAuthor.touched) && postAuthor.invalid">{{ getPostAuthorError() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList formControlName="postTags">
        <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Новый тег"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-error *ngIf="postTags.invalid && (postTags.dirty || postTags.touched) && (tagsList.length === 0) && postTags.invalid">{{ getPostTagsError() }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                name="postText"
                placeholder="Напишите свою историю"
                formControlName="postText"
                rows="10"></textarea>
      <mat-error *ngIf="postText.invalid && (postText.dirty || postText.touched) && postText.invalid">{{ getPostTextError() }}</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Отрпавить историю</button>
  </form>

</div>
